.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.zero-data {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  align-items: center;
}
